@page
@model ForgotPasswordModel

@{
    Layout = null;
    ViewData["Title"] = "Forgot your password?";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/Login.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="first">
                <img src="~/Images/Logo.png" id="icon" alt="User Icon" />
            </div>
            <!-- Login Form -->
            <form id="account" method="post">
                <h4>Forgot password?</h4>
                <hr />
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <input asp-for="Input.Email" class="second" placeholder="Email" /><br />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>               
                <div class="form-group">
                    <button type="submit" class="fourth">Submit</button><br />
                    <span class="text-danger">@Model.ErrorMessage</span>
                </div>                
            </form>
            <!-- Forgot password Passowrd -->

        </div>
    </div>
</body>
</html>

@*<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
