@page
@model ResetPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Reset password";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/Login.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="first">
                <img src="~/Images/Logo.png" id="icon" alt="User Icon" />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <h4>Reset you account password</h4>
                        <hr />
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Input.Email" class="Register-Input-lable"></label>
                            <input asp-for="Input.Email" class="form-control Register-Input" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="Register-Input-lable"></label>
                            <input asp-for="Input.Password" class="form-control Register-Input" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="Register-Input-lable"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control Register-Input" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Reset</button><br />
                            <span class="text-danger">@Model.ErrorMessage</span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
